/* ---------- Color Module Styles ----------- */

/* Main background */

body { background-color:#eeeeee; }

/* Menu */

#wrap { border-top: 3px solid #b81008; }

#main-menu .menu a.active, #main-menu .menu ul a.active { background: #b81008; }

#main-menu .menu a.active-trail { background: #b22525; }

#sitename h1 a:hover, #sitename h2 a:hover { color: #b22525; }

/* Menu Hover */

#main-menu .menu a:focus,
#main-menu .menu a:hover,
#main-menu .menu a:active,
#main-menu .menu ul a:focus,
#main-menu .menu ul a:hover,
#main-menu .menu ul a:active { background: #b81008 }

/* Link */

a { color: #76a8c5; }

a:hover { color: #2e70b1; }

.links li a:hover, .field-name-field-tags a:hover { color: #2e70b1; }

/* Button */

.form-submit { background: #2e70b1; border-color:#2e70b1; }

.form-submit:hover { background: #2e70b1; }